{% extends "base.html" %}    
{% block title %}Login{% endblock %}
{% block head %}
{{ super() }}
    <style type="text/css">.important { color: #336699; }</style>
{% endblock %}
{% block content %}
    <p class="title">Enter your details to login</p>
    <form method="POST" action="{{url_for('login')}}">
        {% include "form_fields.html" %}
        <input type="submit" value="Login" class="button is-info is-outlined">
    </form>
    {% if login_error != None %}
    <div class="field-error"> {{ login_error }} </div>
    {% endif %}
{% endblock %}
