{% extends "base.html" %}    
{% block title %}Welcome!{% endblock %}
{% block head %}
{{ super() }}
    <style type="text/css">

    .puzzle-entry input:focus
    {
        background-color: #ff0;
    }

    .puzzle-blocked
    {
        background-color: black;
    }

    .puzzle-transparent
    {
        text-indent: 100%;
        white-space: nowrap;
        overflow: hidden;
    }

    </style>
    <script type="text/javascript">

    function handle_puzzle_entry_update(entry_id, value) {
        console.log("Update " + entry_id + " to " + value);
        req = new XMLHttpRequest();
        req.open("GET", "{{url_for('puzzle_update', puzzle_id=puzzle_id)}}" +
            "?login={{user.login}}&entry=" + entry_id + "&value=" + value
        );
        req.send(null);
    }

    function handle_up_arrow(row, col) {
        console.log("UP row " + row + ", col " + col);
        for(var new_row = row - 1; new_row >= 0; --new_row) {
            var entry_id = "R" + new_row + "C" + col;
            var elem = document.getElementById(entry_id);
            if(elem != null) {
                document.getElementById(entry_id).focus();
                break;
            }
        }
    }

    function handle_down_arrow(row, col) {
        console.log("DOWN row " + row + ", col " + col);
        for(var new_row = row + 1; new_row < {{puzzle.rows}}; ++new_row) {
            var entry_id = "R" + new_row + "C" + col;
            var elem = document.getElementById(entry_id);
            if(elem != null) {
                document.getElementById(entry_id).focus();
                break;
            }
        }
    }

    function handle_left_arrow(row, col) {
        // Only process if the cursor is at beginning of input
        var curelem_id = "R" + row + "C" + col;
        var curelem = document.getElementById(curelem_id);
        if(curelem.selectionStart != 0){
            return;
        }

        console.log("LEFT row " + row + ", col " + col);
        for(var new_col = col - 1; new_col >= 0; --new_col) {
            var entry_id = "R" + row + "C" + new_col;
            var elem = document.getElementById(entry_id);
            if(elem != null) {
                document.getElementById(entry_id).focus();
                break;
            }
        }
    }

    function handle_right_arrow(row, col) {
        // Only process if the cursor is at end of input
        var curelem_id = "R" + row + "C" + col;
        var curelem = document.getElementById(curelem_id);
        if(curelem.selectionStart != curelem.value.length){
            return;
        }

        console.log("RIGHT row " + row + ", col " + col);
        for(var new_col = col + 1; new_col < {{puzzle.cols}}; ++new_col) {
            var entry_id = "R" + row + "C" + new_col;
            var elem = document.getElementById(entry_id);
            if(elem != null) {
                document.getElementById(entry_id).focus();
                break;
            }
        }
    }

    function handle_key_down(row, col, event) {
        switch(event.keyCode)
        {
            case 37: handle_left_arrow(row, col); break;
            case 38: handle_up_arrow(row, col); break;
            case 39: handle_right_arrow(row, col); break;
            case 40: handle_down_arrow(row, col); break;
        }
    }
    </script>
{% endblock %}
{% block content %}
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <img src="{{url_for('static', filename='doge-small.jpg')}}" alt="BBIC Logo">
      <h1 class="title">BBiC</h1>
    </a>
  </div>

  <div class="nav-center">
      <h1 class="title">{{puzzle_id}} puzzle ({{mode}} mode)</h1>
  </div>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="{{url_for('home')}}">
      Home
    </a>
    <a class="nav-item" href="{{url_for('logout')}}">
      Logout ({{user.login}})
    </a>
  </div>
</nav>
<div class="columns">
    {% if mode != 'expert' %}
    <div class="column">
    <form action="{{url_for('puzzle_check', puzzle_id=puzzle_id)}}" method="get">
        <input type="submit" value="Check Crossword" class="button is-info is-outlined" style="width: 100%"/>
    </form>
    </div>
    <div class="column">
    <form action="{{url_for('puzzle_soln', puzzle_id=puzzle_id)}}" method="get">
        <input type="submit" value="Validate Crossword and View Solution" class="button is-success is-outlined" style="width: 100%"/>
    </form>
    </div>
        {% if user.login == creator %}
        <div class="column">
        <form action="{{url_for('puzzle_close', puzzle_id=puzzle_id)}}" method="get">
            <input type="submit" value="Close Crossword" class="button is-danger is-outlined" style="width: 100%"/>
        </form>
        </div>
        {% endif %}
    {% elif user.login == creator %}
    <div class="column">
    <form action="{{url_for('puzzle_submit', puzzle_id=puzzle_id)}}" method="get">
        <input type="submit" value="Submit Crossword and View Solution" class="button is-success is-outlined" style="width: 100%"/>
    </form>
    </div>
    {% endif %}
</div>
    <br />

    <style>
    .bb {
        width: 800px;
        height: 800px;
        margin: auto;
        background: white;
        float: left;
    }
    </style>
    <div class="bb">
    <table class="puzzle-table">
        {% for irow in range(puzzle.rows) %}
        <tr class="puzzle-row">
            {% for icol in range(puzzle.cols) %}
                {% if puzzle.at(irow, icol).label == None %}
            <td class="puzzle-blocked" onkeydown="handle_key_down({{irow}}, {{icol}}, event)">
            </td>
                {% else %}
            <td class="puzzle-entry"  onkeydown="handle_key_down({{irow}}, {{icol}}, event)">
                {% if puzzle.at(irow, icol).label == '-' %}
                <div class="puzzle-transparent">
                {% endif %}
                    {{ puzzle.at(irow, icol).label }}
                {% if puzzle.at(irow, icol).label == '-' %}
                </div>
                {% endif %}
                <input maxlength="1" type="text" id="R{{ irow }}C{{ icol }}" 
                {% if puzzle.at(irow, icol).val != None %}
                value="{{ puzzle.at(irow, icol).val }}"
                {% endif %}
                    oninput="handle_puzzle_entry_update(this.id, this.value)"/>
            </td>
                {% endif %}
            {% endfor %}
        </tr>
        {% endfor %}
        <tr>
            <td colspan="{{puzzle.cols}}">
            <div align="center"><a href="javascript:history.go(0)">REFRESH</a></div>
            </td>
        </tr>
    </table>
    </div>
    <style>
    .aa {
        width: 800px;
        height: 250px;
        overflow-y: scroll;
        overflow-x:hidden;
        resize: vertical;
        margin: auto;
        border: 1px solid black;
        float: left;
    }
    .aaa {
        width: 800px;
        resize: vertical;
        margin: auto;
        border: 0px;
        float: left;
    }
    </style>
    <div class="aaa">
    <div class="aa"><img src="{{ kloo_link }}" width="100%" /> </div>
    <div class="aa"><iframe src="https://titanembeds.tk/embed/200082185632481290" height="400" width="100%" > chat </iframe> </div>

    <nav class="panel">
        <p class="panel-heading">
            Submissions by others
        </p>
        {% for user_id in other_users %}
        <a class="panel-block" href="{{url_for('puzzle_view', user_id=user_id, puzzle_id=puzzle_id)|urlencode}}">
            <span class="panel-icon">
            <i class="fa fa-book"></i>
            </span>
            {{ user_id }}
        </a>
        {% endfor %}
    </nav>
    </div>
{% endblock %}
