{% extends "base.html" %}    
{% block title %}Registration{% endblock %}
{% block head %}
{{ super() }}
    <style type="text/css">.important { color: #336699; }</style>
{% endblock %}
{% block content %}
    <p class="title">Fill out the following to register</p>
    <form method="POST" action="{{url_for('register')}}">
        {% include "form_fields.html" %}
        <input type="submit" value="Register" class="button is-info is-outlined">
    </form>
    {% if register_error != None %}
        <div class="field-error"> {{ register_error }} </div>
    {% endif %}
{% endblock %}
