{% extends "base.html" %}    
{% block title %}Welcome!{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block content %}
<nav class="nav">
  <div class="nav-left">
    <a class="nav-item">
      <img src="{{url_for('static', filename='doge-small.jpg')}}" alt="BBIC Logo">
      <h1 class="title">BBiC</h1>
    </a>
  </div>

  <div class="nav-center">
      <h1 class="title">Relive fond Memories!</h1>
  </div>

  <div class="nav-right nav-menu">
    <a class="nav-item" href="{{url_for('home')}}">
      Home
    </a>
    <a class="nav-item" href="{{url_for('logout')}}">
      Logout ({{user.login}})
    </a>
  </div>
</nav>
<nav class="panel">
  <p class="panel-heading">
    Your completed puzzles
  </p>
  {% for item in crosswords %}
  <a class="panel-block" href="{{url_for('puzzle_soln', puzzle_id=item) | urlencode}}">
    <span class="panel-icon">
      <i class="fa fa-book"></i>
    </span>
    {{ item }}
  </a>
  {% endfor %}
</nav>
{% endblock %}
